<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fabricioaraujo.appcombancodedados">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppComBancoDeDados">
        <activity
            android:name=".view.manterusuario.ListarUsuario"
            android:exported="false" />
        <activity
            android:name=".view.manterusuario.InserirUsuario"
            android:exported="false" />
        <activity
            android:name=".view.manterusuario.ManterUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>